---
const cats = [
    {
        title: "Robots Aspirador Friegasuelos Cecotec | Conga: Limpieza Inteligente",
        image: "/robot-cecotec.webp",
        thubnail: "/robot-cecotec.webp",
        link: "/cecotec",
        description: "Descubre el robot aspirador y friegasuelos Cecotec Conga perfecto para tu hogar. Aspira y friega a la vez con tecnología inteligente. ¡Adiós a la suciedad, hola a la comodidad!."
    },
    {
        title: "Roomba Aspirador Friegasuelos | iRobot Roomba Combo: Limpieza Definitiva",
        image: "/robot-roomba.webp",
        thubnail: "/robot-roomba.webp",
        link: "/roomba",
        description: "Descubre el Roomba aspirador fregasuelos ideal para tu hogar. La tecnología iRobot Roomba Combo aspira y friega a la vez. ¡Máxima eficiencia y limpieza sin esfuerzo!"
    },
    {
        title: "Robot Aspirador Friegasuelos Xiaomi | Mi Robot Vacuum: Limpieza Inteligente",
        image: "/robot-xiaomi.webp",
        thubnail: "/robot-xiaomi.webp",
        link: "/xiaomi",
        description: "Descubre el robot aspirador y fregasuelos Xiaomi ideal para tu hogar. La serie Mi Robot Vacuum aspira y friega a la vez. ¡Tecnología y eficiencia al mejor precio!"
    }
    // Puedes añadir más categorías aquí
]
---

<div class="cluster-nav">
    {cats.map(cat => (
        <a href={cat.link} class="cluster-item">
            <article>
                <figure>
                    <img src={cat.image} alt={cat.title} loading="lazy" width="200" height="200"/>
                </figure>
                <div class="content">
                    <h2>{cat.title}</h2>
                    <p>{cat.description}</p>
                </div>
            </article>
        </a>
    ))}
</div>
<style>
/* Cluster de navegacion */
.cluster-nav article {
  display: flex;
  flex-direction: column; /* Default to column for mobile */
  border-radius: var(--rounded);
  transition: all ease-in-out 0.3s;
}

.cluster-nav article:hover {
  transform: scale(1.02);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.cluster-nav article .content {
  width: 100%; /* Full width for mobile */
  display: block;
  padding: 16px;
  order: 2; /* Content after figure for mobile */
}

.cluster-nav article figure {
  width: 100%; /* Full width for mobile */
  height: 220px; /* Specific height for mobile figure container */
  overflow: hidden;
  border-radius: var(--rounded);
  margin-top: 0;
  order: 1; /* Figure before content for mobile */
  padding: 10px;
  background: linear-gradient(120deg, #b8057c 0%, var(--secondary) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cluster-nav article figure img {
  width: 200px; /* Specific image size for mobile */
  height: 200px;
  object-fit: contain; /* Ensure the image fits within the container */
}

/* Alternate order for every second item on mobile (figure then content) */
.cluster-nav a:nth-child(2n) article .content {
  order: 2;
}

.cluster-nav a:nth-child(2n) article figure {
  order: 1;
}

@media (min-width: 768px) {
  .cluster-nav article {
    flex-direction: row; /* Change to row for desktop */
    flex-wrap: nowrap;
  }

  .cluster-nav article .content {
    width: calc(100% - 200px); /* Adjust width for desktop */
  }

  .cluster-nav article figure {
    width: 220px; /* Fixed width for desktop figure */
    height: 220px; /* Fixed height for desktop figure */
    margin-top: 15px;
  }

  .cluster-nav article figure img {
    width: 100%; /* Image takes full width of desktop figure */
    height: 100%; /* Image takes full height of desktop figure */
    object-fit: contain; /* Cover the area, cropping if necessary */
  }

  /* Alternate order for every second item on desktop (content then figure) */
  .cluster-nav a:nth-child(2n) article .content {
    order: 1;
  }

  .cluster-nav a:nth-child(2n) article figure {
    order: 2;
  }
}
</style>